

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;

}

.LV_valid {
    
	font-size:10px !important;
}
	
.LV_invalid {
    color: #FF0000;
	font-family:  'Open Sans',sans-serif !important;
	font-size: smaller;
}
#mobile_error {
    color: #FF0000;
	font-family:  'Open Sans',sans-serif !important;
	font-size: smaller;
}    

#email_error {
    color: #FF0000;
	font-family:  'Open Sans',sans-serif !important;
	font-size: smaller;
}   
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #2EEC21;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #FF0000;
}

 .LV_validation_message {
  position:absolute;
  }