.heading{
    color: #EF3029;
	margin-bottom: 20px;

}

.sub-heading{
    font-size: 14px;
    color: #7E8083;

}
.product-heading{
     color: #333333;
    margin-bottom: 10px;
    font-size: 12px;
}
.para{
text-align:justify;    margin-bottom: 10px;
}
.list li{
font-size:13px;line-height: 25px;

}
.my-div {
	background-color: #4D6A79;
	padding: 11px 0 11px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.my-icon {
	font-size: 25px;
	vertical-align: middle;
}
.icon-span {
	margin-right: 8px;
}
.CSSTableGenerator {
         margin: 0px;
	    padding: 15px 8px 15px 3px;
    width:99%;
    float: left;
    display: inline-block;s
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(even){ background-color:#fff; }
.CSSTableGenerator tr:nth-child(odd)    { background-color:#E0E0E0; }.CSSTableGenerator td{
	vertical-align:middle;
	border: 2px solid #050505;
    border-width: 0px 2px 2px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	line-height:23px;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width: 0px 0px 2px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 2px 0px;/*vertical-align: initial; */
}.CSSTableGenerator tr:last-child td:last-child{
	border-width: 0px 0px 2px 0px;
}
.CSSTableGenerator tr:first-child td{
        background-color: #E7E7E7;
    border: 0px solid #050505;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
 
.CSSTableGenerator tr:first-child td:first-child{
	border-width: 2px 0px 2px 0px;    text-transform: uppercase;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width: 2px 0px 2px 0px;
}
.tr-color{
    background-color:#DDDDDD!important;
    
} 
.tr-color td{    color: #000000!important;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.table-para{
margin-top:10px;
}
.img-heading{
    background-color: #4E4E4E;
    color: #fff;
    margin: 0;
    padding: 10px;
}
.red{
background-color: #fff!important;
}
.red td{
color: #000;
    font-size: 12px;
}
.enquiry-form{
    padding: 0 10%;
} 
.chart a{
color: #D52E27;
    font-weight: 600;
    -webkit-backface-visibility: hidden;
}
.chart a:hover{
color: #fff;
    text-decoration:none;#EDE141
}
.row-gap{
margin-bottom:30px;
}
h4{
          font-size: 11px;
    margin: 2px 5px 3px;
    text-transform: uppercase;
}
h5{
       margin: 0px 5px 0px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

p{
      margin: 0px 4px;
    font-size: 11px;
}
.span{
 
    border: 1px solid #000;
    padding: 3px 21px;
 
}
.Address{
    padding-bottom:20px;
    float: right;
 
}
.Address span{
    margin: 10px 0 4px 0;
    position: relative;
    float: right;
    font-size: 12px;
}
.Address1{
    padding-bottom:20px;
    float: right;
 
}
.Address1 span{
    margin: 10px 0 4px 0;
    position: relative;
    float: right;
    font-size: 12px;
}
.para{
position: relative;
    float: right;
    top: 9px;
    margin-bottom: 14px;
	}