/************** Tool Tip Styles ********************************/
.tool-tip {
    display: inline-block;
    position: relative;
    margin-right: 1.5em;
}
.tooltip_marg{

    margin: 0;
    padding: 0;
    list-style-type: none;}
.tool-tip .tool-tip__icon {
  background: #27b1f0;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-style: italic;
  font-family: times new roman;
  height: 20px;
  line-height: 1.3em;
  text-align: center;
  width: 20px;
}
.tool-tip .tool-tip__info {
    display: none;
    background: #262626;
    border: 1px solid #27b1f0;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 1em;
    position: absolute;
    left: 43px;
    top: -7px;
    width: 229px;
    z-index: 2;
}.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 7px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #27b1f0;
}
.tool-tip .tool-tip__info:after {
  left: -8px;
  border-right-color: #262626;
}
.tool-tip .tool-tip__info .info {
  display: block;
}
.tool-tip .tool-tip__info .info__title {
  color: #fa00f3;
}
.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
  display: inline-block;
}

a:focus + .tool-tip .tool-tip__info {
  display: inline-block;
}

/******* Styles just to make it look a little better *******/
 
article{
  background: #414141;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}
i{
  font-style: normal;
}
a{
   text-decoration: none;
}
a:hover,
a:focus{
  text-decoration: underline;
}
li{
  margin: 5px 0;
}